.show-container {
  margin-bottom: 50px;
  margin-right: 130px;
  margin-left: 130px;
  width: auto;
}

.photo {
  border-radius: 3px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 2px #6A6A6A;
}

.booking-form {
  background-color: #F7F7F9;
  padding: 15px 15px;
  margin: 0 -15px 0 -15px;
  border-radius: 3px;
}

.booking-form h2 {
  margin-top: 0;
}

.description-wrapper {
 background-color: #6A6A6A;
 min-height: 200px;
 color: white;
 padding: 10px 50px;
 >h1 {
   font-size: 28px;
 }
}

.icon-container {
 display: flex;
 align: flex-start;
 justify-content: space-around;
 margin-top: 30px;
 > div {
   flex: 0 0 15%;
   > p {
     margin-top: 10px;
     font-size: 14px;
   }
 }
}

#about {
  font-size: 22px;
  font-weight: bold;
}

#description {
  margin-bottom: 20px;
}

