<div class="banner"
style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('');">
  <div class="banner-content">
    <h1>Check it out and book a garden for your party </h1>
      <div class="container">
        <div>
          <ul>
            <% @gardens.each do |garden| %>
              <li>
                <div class="card-description">
                  <h2><%= link_to garden.title, garden_path(garden), class: "card-link" %></h2>
                  <p><%= garden.capacity %></p>
                </div>
            </li>
          <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
