<h1 class="text-center"> My dashboard</h1>


<div>
  <% current_user.bookings.each do |booking| %>
    <% if booking.status == "pending" %>
      <%= booking.checkin_at %>
      <%= booking.length %>
      <%= link_to "Accept", accept_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-info" %>
      <%= link_to "Reject", reject_garden_booking_path(booking.garden, booking), method: :patch, class: "btn btn-info" %>
    <% end %>
  <% end %>
</div>






