.card {

}

/* Mask: */
background: #D8D8D8;
box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);
border-radius: 4px;
/* xtxmxskf2uq-michael-brooks-jr: */
/* Rectangle 3: */
opacity: 0.55;
background-image: linear-gradient(-134deg, #A9A7A7 0%, rgba(0,0,0,0.39) 100%);



/* Paris 10: */
font-family: Nunito-Light;
font-size: 36px;
color: #FFFFFF;
/* Wonderful cosy garde: */
font-family: Nunito-Light;
font-size: 28px;
color: #FFFFFF;

.star-on {
  background: #FFF9A3;
  border: 1px solid #979797;
}

.star-off {
  background: #D8D8D8;
  border: 1px solid #979797;
}

